*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #111;
}
header {
  min-height: 100vh;
  padding: 50px 10px 10px 0;
  position: relative;
  z-index: 1;
}
h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 72px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #f1f1f1;
  text-shadow: 1px 1px 0 #333, 2px 2px 0 #3a3a3a, 3px 3px 0 #575757,
    4px 4px 0 #6b6b6b;
}
.app_container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 25px 25px 50px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.loader {
  position: absolute;
  inset: 0;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f1f1f1;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, visibility 0.6s;
}
.loader.active {
  visibility: visible;
  opacity: 1;
}
.loader_logo {
  width: 75px;
  animation: loader 1.8s ease-out infinite;
}

@keyframes loader {
  50% {
    transform: rotate(360deg);
  }
}
.emoji_logo {
  display: block;
  max-width: 75px;
  margin: 0 auto 10px;
  filter: drop-shadow(2px 2px 1px #515151);
}
.user_information {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
table {
  margin-bottom: 30px;
  width: 100%;
}
table,
th,
td {
  border: 1px solid #343434;
  text-align: left;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  font-weight: 600;
  font-size: 18px;
}
td {
  color: #343434;
}
.scale_bar_text {
  font-weight: 600;
  margin-bottom: 7px;
}
.scale_container {
  display: flex;
  position: relative;
}
.location_pointer {
  position: absolute;
  width: 30px;
  margin-top: 15px;
  transform: translateX(-50%) rotate(180deg);
  transition: transform 0.4s ease-out;
}
.scale_section {
  height: 10px;
}
.scale_section:not(:last-child) {
  border-right: 2px solid #f1f1f1;
}
.scale_section:nth-child(2) {
  width: calc(100% * (51 / 501));
  background-color: green;
}
.scale_section:nth-child(3) {
  width: calc(100% * (50 / 501));
  background-color: #d7d703;
}
.scale_section:nth-child(4) {
  width: calc(100% * (50 / 501));
  background-color: orange;
}
.scale_section:nth-child(5) {
  width: calc(100% * (50 / 501));
  background-color: red;
}
.scale_section:nth-child(6) {
  width: calc(100% * (100 / 501));
  background-color: purple;
}
.scale_section:nth-child(7) {
  width: calc(100% * (200 / 501));
  background-color: maroon;
}
.background_layer {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: linear-gradient(45deg, #4ba0d9, #6dd5fa, #fff);
  transition: opacity 0.4s ease-out;
}
header .active .background_layer {
  opacity: 0;
}
