*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(25deg, #f181aa, #d376c6 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #eee9e9;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 30px;
  margin-bottom: 1.5rem;
}
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.timer {
  font-size: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite alternate;
}
@keyframes pulse {
  form {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.timer span {
  width: 110px;
  display: inline-block;
  text-align: center;
}
.controls {
  display: flex;
  gap: 1rem;
}
button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #f25191;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #d727a6;
}
.laps {
  width: 100%;
}
.lapTitle {
  font-size: 1.5rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
li {
  padding: 1rem;
  border-bottom: 1ps solid #e0e0e0;
}
li:last-child {
  border-bottom: none;
}
li span {
  font-weight: 700;
}
