*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f9d483;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  width: 100%;
  max-width: 450px;
  background-color: rgb(38, 38, 38);
  border-radius: 20px;
  padding: 40px 30px 70px;
}
.heading1 {
  color: #cecece;
  font-size: 22px;
  margin-bottom: 10px;
}
.heading2 {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.heading2 h1 {
  font-size: 40px;
  color: white;
}
.heading2 span {
  color: #f9d483;
}
.heading2 img {
  width: 40px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 20px;
}
.row input {
  width: 95%;
  border: none;
  outline: none;
  margin-left: 20px;
  background: transparent;
}
.row button {
  border: none;
  background-color: #f9d483;
  padding: 16px 30px;
  font-weight: bolder;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
.tasklist ul li {
  list-style: none;
  color: #d4d4d4;
  padding: 14px 8px 2px 50px;
  font-size: 16px;
  user-select: none;
  position: relative;
}
.tasklist ul li::before {
  content: "";
  background: url("../images/unchecked.png");
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 8px;
  left: 1px;
}
.tasklist ul li.checked {
  color: #555;
  text-decoration: line-through;
}
.tasklist ul li.checked::before {
  width: 28px;
  height: 28px;
  background: url("../images/checked.png");
}
.tasklist ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: auto;
  cursor: pointer;
  color: white;
}
.tasklist ul li span:hover {
  background-color: white;
  border-radius: 50%;
  color: #555;
}
