*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d4d4d4;
}
.container {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  background-color: white;
  padding: 40px 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #333333;
  text-decoration: underline;
}
.input_box {
  position: relative;
  margin-bottom: 24px;
}
.input_box span {
  position: absolute;
  top: 5%;
  right: 4%;
  transform: translateY(50%);
  color: #333333;
  font-size: 20px;
  cursor: pointer;
}
.pass_box {
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #333333;
  outline: none;
}
input[type="range"] {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.row p {
  font-weight: 700;
}
input[type="checkbox"] {
  margin-right: 8px;
}
.slider_value {
  margin-right: 8px;
}
.getBtn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #3162cb;
  cursor: pointer;
  margin-top: 30px;
}
.getBtn:hover {
  background-color: #1d1e20;
}
