*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to right, #33001b, #ff0084);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  animation: neonGlow 1s infinite alternate;
}
@keyframes neonGlow {
  form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: 0px 0px 2px #e61380, 0px 0px 30px #ce1c78, 0px 0px 40px #ff0084;
  }
}
h1 {
  color: white;
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 20px;
}
textarea {
  width: 500px;
  height: 350px;
  margin: 10px auto;
  display: block;
  font-size: 24px;
  padding: 20px;
  color: rgb(0, 0, 0);
  border: 1px solid #dddddd;
  border-radius: 5px;
  resize: none;
  animation: slideIn 1s ease;
}
@keyframes slideIn {
  form {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
button {
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  width: 500px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #33022b;
}
.display_result {
  font-size: 20px;
  margin: 20px 0px;
  color: white;
  font-weight: bold;
  animation: neonGlow 1s infinite alternate;
}
