*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: cardAnimation 1s ease-in-out;
}
@keyframes cardAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h1 {
  color: #ff1493;
  font-size: 32px;
  opacity: 1;
}
.poll {
  margin-top: 20px;
}
h2 {
  color: #ff1493;
  font-size: 24px;
  margin-bottom: 20px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option {
  color: black;
  margin-bottom: 10px;
}
.option:hover {
  background-color: #ff1493;
}
.option input[type="radio"]:checked + label {
  background-color: #ff1493;
  color: white;
}
input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button {
  background-color: #ff1493;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #ff0055;
}
.result {
  margin-top: 20px;
  font-size: 20px;
  color: #ff1493;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option_result {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.option_text {
  flex: 1;
}
.bar_container {
  flex: 3;
  background-color: #f3f3f3;
  height: 10px;
  margin-left: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.bar {
  height: 100%;
  background-color: #ff1493;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.percentage {
  flex: 1;
  margin-left: 10px;
  font-weight: bold;
  color: #ff1493;
}
