*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #3498db;
}
.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: #f2f2f2;
  border: 2px solid #1e5f8a;
  border-radius: 5px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}
h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  color: #000000;
}
form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
}
input[type="number"],
select {
  width: 95%;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
input[type="number"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 5px 5px #3498db;
}
select {
  width: 100%;
}
input[type="submit"] {
  padding: 10px;
  margin-top: 10px;
  background-color: #3498db;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #287b53;
}
.result {
  font-weight: bold;
  margin-top: 20px;
  color: #3498db;
}
