*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #5876d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.container {
  background: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}
h2 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 95%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  background-color: #2979ff;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #448aff;
}
.display_result {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
