*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
}
.container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.color_box {
  width: 300px;
  height: 150px;
  background-color: #fff7f7;
  border-radius: 8px;
  margin: 20px auto;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.color_text {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}
.row {
  display: flex;
  justify-content: space-around;
}
.generateBtn {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #333;
}
.generateBtn:hover {
  background-color: #555;
}
