*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color_container {
  background-color: #45dfff;
  width: 200px;
  height: 200px;
  color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 5px;
}
button {
  background-color: #ff1493;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: #ff0055;
}
