*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 201, 243);
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
h1 {
  margin-bottom: 20px;
  text-decoration: underline;
}
.counter_display {
  font-size: 72px;
  font-weight: bold;
  color: #333;
  margin: 20px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.button_container {
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  width: 80px;
}
.blue_button {
  font-size: 24px;
}
.blue_button:hover {
  background-color: #222bff;
}
.btnReset {
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #c82333;
}
.btnReset:hover {
  background-color: #560d14;
}
