*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fceaff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 500px;
  background-color: #fff0f6;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid #ff85c0;
}
h1 {
  color: #ff85c0;
  font-size: 28px;
  margin-bottom: 30px;
}
.love_calculator {
  margin-top: 20px;
}
label {
  display: block;
  margin: 10px 0;
  color: #ff85c0;
}

input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  color: #ff85c0;
}
button {
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff85c0;
  cursor: pointer;
  border-radius: 5px;
}
.result {
  margin-top: 20px;
  font-size: 24px;
  color: #ff85c0;
}
