*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 500px;
  margin: 100px auto;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
.calculator_container {
  background-color: white;
  border: 1px solid black;
  padding: 10px 40px;
  border-radius: 8px;
}
.input_group {
  margin-bottom: 15px;
}
.input_group label {
  display: block;
  margin-bottom: 5px;
}
.input_group input {
  width: 95%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}
button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 4px;
}
