*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, #f74813, #0854c0);
}
label {
  text-decoration: underline;
  font-weight: 600;
}
.container {
  max-width: 900px;
  background-color: #fff;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}
.row {
  margin-top: 15px;
}
.row div {
  padding: 10px;
}
.row input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ff0000;
  outline: none;
  font-size: 16px;
}
.row button {
  background-color: #e46141;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  outline: none;
}
.row button:hover {
  background-color: #f74813;
}
.row p {
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
}
