*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
.container {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 28px;
  color: #333;
}
input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
button {
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}
.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
