*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.container {
  background-color: goldenrod;
  box-shadow: 2px 2px #131313;
  max-width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
}
h1 {
  color: #333333;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}
textarea {
  width: 300px;
  height: 120px;
  margin: 10px auto;
  display: block;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: #333333;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: blue;
}
.display_result {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}
